Package: jp.r-plus.pulltosyncforreeder
Name: PullFeatureForReeder
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: add tweetie like pull feature to Reeder
Maintainer: r_plus
Author: r_plus
Section: Tweaks
