Package: jp.r-plus.pulltosyncforreeder
Name: PullFeatureForReeder
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: tweetie like pull feature to Reeder
Maintainer: r_plus
Author: r_plus
Section: Tweaks
